.checkout_product {
    /* background-color: greenyellow; */
    display: flex;
    padding: 20px;
    /* align-items: center; */
    border: solid 1px;
    border-radius: 5px;
    margin: 20px;
}

.checkout_product > img {
    width: 100px;
    object-fit: contain;
}

.cart_item_discription {
    /* background-color: grey; */
    flex: 1;
    padding: 0 0 0 30px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.cart_item_discription > p {
    font-weight: 600;
    font-family: "Poppins";
}

.cart_item_discription > Button {
    width: 200px;
    margin-top: 20px;
}



/* Added */

.counter {
    display: flex;
    align-items: center;
    width: 65px;
    justify-content: space-between;
}

.product_count {
    align-content: center;
    background-color: rgb(195, 192, 188);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.count {
    margin-bottom: -10px;
    font-size: 20px;
    font-weight: 500;
}

.product_count_p {
    margin-top: 10px;
    margin-left: -3px;
    margin-right: auto;
    font-weight: 700;
}

.product_count_m {
    margin-top: 10px;
    margin-right: auto;
    font-weight: 700;
}