.checkout_product {
    /* background-color: greenyellow; */
    display: flex;
    padding: 20px;
    /* align-items: center; */
    border: solid 1px;
    border-radius: 5px;
    margin: 20px;
}

.checkout_product > img {
    width: 100px;
    object-fit: contain;
}

.cart_item_discription {
    /* background-color: grey; */
    flex: 1;
    padding: 0 0 0 30px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.cart_item_discription > p {
    font-weight: 600;
    font-family: "Poppins";
}

.cart_item_discription > Button {
    width: 200px;
    margin-top: 20px;
}
    