.home{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 60px;
}

.backgroung_img {
    z-index: 1;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.product_container {
    position: relative;
    z-index: 10;
    margin: -350px 40px 0px -20px;
}
.product_container > div {
    margin-bottom: 20px;
}


