.home{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    /* padding-top: 60px; */
    padding-bottom: 100px;
}

.backgroung_img {
    z-index: 1;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.product_container {
    position: relative;
    z-index: 10;
}
.product_container > div {
    margin-bottom: 20px;
}


.margin40px {
    margin: 40px auto auto auto !important;
}

.margin-350px {
    margin: -350px auto auto auto !important;
}

